@font-face {
    font-family: 'Bright Sunshine';
    src: url('../fonts/BrightSunshine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff5f9; /* Light pink background */
    color: #e92777; /* Dark pink text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e92777;
    padding: 10px 0;
    text-align: center;
}

.event-title {
    font-family: 'Bright Sunshine', sans-serif;
    font-size: 2.5rem;
    color: #fff5f9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff5f9;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.cta-button {
    background-color: #e92777;
    color: #fff5f9;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}
